img {
  display: block;
  margin: 10 auto;
  
} 

h1 {
  color: rgb(235, 212, 8);
  background-attachment: fixed;
  font-size: 150px;
  text-align: center;
  border: 2px solid rgb(240, 236, 6);
  width: 400px;
  border-radius: 1%;
  box-shadow: 10px 20px 30px rgb(206, 240, 16);
  width: 750px;
    margin-left: 600px;
}

p,.subtitle{
  font-weight: bold;
  color: rgb(244, 248, 6);
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}
li {
  font-size: 40px;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  font-style: normal;
}

html {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: rgb(20, 20, 19);
  /*background-color: #0947f3*/
  background-image: url('dm.png');
}
ul.navbar li {
  border: 2px solid rgb(245, 221, 9);
  width: 400px;
  border-radius: 10%;
  box-shadow: 10px 20px 30px rgb(250, 225, 2);
}

ul.navbar li  {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 60px;
  gap: 30px;
  margin-bottom: 60px; background: rgb(236, 240, 241);
  margin-top: 0.3em 0;
  width: 300px;
    margin-left: 55px;
  border-right-style: solid rgb(228, 15, 15);
  
}
ul.navbar li {
  text-decoration: double }
a:link {
  color: rgb(7, 7, 8) }
a:visited {
  color: rgb(182, 176, 182) }

 
 ul.img {
  background-image: url('computo,png');
    
}
 
 
 
  body {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
    body{
      box-sizing: border-box;
      overflow-x: hidden;
  }

    
    
    
    
    
